# === Pastas grandes ou geradas ===
data/
outputs/
pretrained_models/
realesrgan-ncnn-vulkan/

# === Imagens e binários pesados ===
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.npz
*.npy
*.pt
*.pth
*.ckpt
*.h5
*.onnx
*.weights

# === Outras coisas que não queres versionar ===
.vscode/
__pycache__/
*.log
